* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

:root {
    --darker: #000000;
    --dark: #080b12;
    --dark-soft: #141922;
    --light-dark: #282828;
    --light: #a3a3a3;
    --lighter: #ffffff;
    --limegreen: #adff2f;
    --font-primary: 'Circular Std', sans-serif;
}

img,
svg {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* #region Utility */

.flex {
    display: flex;
}

.direction_column {
    flex-direction: column;
}

.align_center {
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

.justify_end {
    justify-content: end;
}

.flex_end {
    align-items: flex-end;
}

.text_light {
    color: var(--lighter);
}

.m_tb20 {
    margin: 20px 0;
}

.btn_update {
    padding: 15px 35px;
    border-radius: 20px;
    border: 1px solid var(--light);
    color: var(--light);
    margin: 15px;
}

/* #endregion Utility */

/* #region Debug */

.debu1g * {
    outline: 1px solid limegreen;
}

/* #endregion Debug */

/* #region Top */

#top {
    height: calc(100vh - 90px);
}

.side {
    flex-basis: 40px;
    background-color: var(--darker);
}



.aside_header svg,
.aside_footer svg {
    width: 20px;
    aspect-ratio: 1/1;
}

.aside_header a,
.aside_footer a {
    color: var(--light);
}

.complete_logo {
    display: none;
}

#sections span {
    display: none;
}

.logo_wrapper,
#sections li,
.playlists h3,
.playlists div,
.playlists li,
.aside_footer {
    padding: 10px;
}

.playlists {
    display: none;
}

.playlists>h3 {
    margin: 10px 0;
}

#user {
    gap: 0.5rem;
}

#user span {
    display: none;
}

.profile a:last-of-type svg {
    aspect-ratio: 1 / 1;
    background-color: var(--light);
    border-radius: 50%;
}

#app_main {
    flex-grow: 1;
}

nav {
    flex-basis: 80px;
    background-color: var(--dark);
}

#content {
    flex-grow: 1;
    background-color: var(--dark-soft);
}


/* #endregion Top */


/* #region Footer */

#app_footer {
    height: 90px;
    background-color: var(--light-dark);
}

/* #endregion Footer */

/* #region Effects */

#sections li:hover {
    box-shadow: inset 4px 0 0 0 var(--limegreen);
}

#sections li:hover a,
.playlists a:hover,
.hovered:hover {
    color: var(--lighter);
}

#sections li:hover svg path {
    fill: var(--lighter);
}

.btn_update:hover {
    color: var(--lighter);
    border-color: var(--lighter);
}

.container_pl::-webkit-scrollbar {
    width: 10px;
}

.container_pl::-webkit-scrollbar-thumb {
    background-color: var(--light-dark);
    border-radius: 20px;
}

.container_pl::-webkit-scrollbar-thumb:hover {
    background-color: var(--limegreen);
}

.container_pl::-webkit-scrollbar-track {
    background-color: var(--dark);
    border-radius: 10px;
}

/* #endregion Effects */

/* #region Responsive */

@media screen and (min-width: 480px) {

    .side {
        flex-basis: 200px;
    }

    .aside_header svg,
    .aside_footer svg {
        margin-right: 10px;
    }

    .logo_wrapper {
        display: flex;
        align-items: center;
        height: 80px;
        width: 75%;
    }

    .only_logo {
        display: none;
    }

    .complete_logo {
        display: inline-block;
    }

    #sections span {
        display: inline-block;
    }

    .playlists {
        display: block;
    }

    .btn_new {
        width: 30px;
        aspect-ratio: 1/1;
        text-align: center;
        font-size: 2.5rem;
        color: var(--dark);
        background-color: var(--light);
        line-height: 30px;
        margin-right: 10px;
    }

    .container_pl {
        overflow-y: auto;
        height: calc(100vh - 500px);
    }

    #user span {
        display: inline-block;
    }

}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1160px) {}

/* #endregion Responsive */