* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

:root {
    --darker: #000000;
    --dark: #080b12;
    --dark-soft: #141922;
    --light-dark: #282828;
    --light: #a3a3a3;
    --lighter: #ffffff;
    --limegreen: #adff2f;
    --font-primary: 'Circular Std', sans-serif;
}

img,
svg {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* #region Utility */

.flex {
    display: flex;
}

.direction_column {
    flex-direction: column;
}

.align_center {
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

.flex_end {
    align-items: flex-end;
}

.text_light {
    color: var(--lighter);
}

.m_tb20{
    margin: 20px 0;
}


/* #endregion Utility */

/* #region Debug */

.debu1g * {
    outline: 1px solid limegreen;
}

/* #endregion Debug */

/* #region Top */

#top {
    height: calc(100vh - 90px);
}

.side {
    flex-basis: 50px;
    background-color: var(--darker);
    padding: 5px 0;
}

.aside_header svg,
.aside_footer svg {
    width: 20px;
    aspect-ratio: 1/1;
}

.aside_header a,
.aside_footer a {
    color: var(--light);
}

.complete_logo {
    display: none;
}

#sections span {
    display: none;
}

.logo_wrapper,
#sections li,
.playlists h3,
.playlists div,
.playlists li,
.aside_footer {
    padding: 10px;
    margin-bottom: 10px;
}

.playlists {
    display: none;
}

.playlists > h3{
    margin: 20px 0;
}

#user {
    gap: 0.5rem;
}

#user span {
    display: none;
}

#app_main {
    flex-grow: 1;
}

nav {
    flex-basis: 100px;
    background-color: var(--dark);
}

#content {
    flex-grow: 1;
    background-color: var(--dark-soft);
}


/* #endregion Top */


/* #region Footer */

#app_footer {
    height: 90px;
    background-color: var(--light-dark);
}

/* #endregion Footer */

/* #region Effects */

.border_limegreen {
    box-shadow: inset 4px 0 0 0 var(--limegreen);
}

/* #endregion Effects */

/* #region Responsive */

@media screen and (min-width: 480px) {

    .side {
        flex-basis: 230px;
    }

    .aside_header svg,
    .aside_footer svg {
        margin-right: 10px;
    }

    .logo_wrapper {
        display: flex;
        align-items: center;
        height: 80px;
        width: 75%;
    }

    .only_logo {
        display: none;
    }

    .complete_logo {
        display: inline-block;
    }

    #sections span {
        display: inline-block;
    }

    .playlists {
        display: block;
    }

    .btn_new{
        width: 30px;
        aspect-ratio: 1/1;
        text-align: center;
        font-size: 2.5rem;
        color: var(--dark);
        background-color: var(--light);
        line-height: 30px;
        margin-right: 10px;
    }

    .container_pl{
        overflow-y: auto;
        height: calc(100vh - 80px -140px -23px -30px -80px -90px);
    }

    #user span {
        display: inline-block;
    }

}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1160px) {}

/* #endregion Responsive */