* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

:root {
    --darker: #000000;
    --dark: #080b12;
    --dark-soft: #141922;
    --light-dark: #282828;
    --light: #a3a3a3;
    --lighter: #ffffff;
    --limegreen: #adff2f;
    --font-primary: 'Circular Std', sans-serif;
}

img,
svg {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* #region Utility */

.container {
    width: 95%;
    margin: auto;
}

.flex {
    display: flex;
}

.direction_column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.align_center {
    align-items: center;
}

.space_between {
    justify-content: space-between;
}

.space_around {
    justify-content: space-around;
}

.justify_center {
    justify-content: center;
}

.justify_end {
    justify-content: end;
}

.flex_end {
    align-items: flex-end;
}

.text_center {
    text-align: center;
}

.text_light {
    color: var(--lighter);
}

.text_grey {
    color: var(--light);
}

.m_tb30 {
    margin: 30px 0;
}

.m_tb20 {
    margin: 20px 0;
}

.m_tb10 {
    margin: 10px 0;
}

.m_b10 {
    margin-bottom: 10px;
}

.neg_m_lr_10 {
    margin: 0px -10px;
}

.m_10 {
    margin: 10px;
}

.row>[class^="col_"] {
    padding: 0 10px
}

.rounded {
    border-radius: 50%;
}

.btn_update {
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid var(--light);
    color: var(--light);
    margin: 20px;
}

.col_6 {
    width: calc(100% / 12 * 6);
}

/* #endregion Utility */

/* #region Debug */

.-debug * {
    outline: 1px solid limegreen;
}

/* #endregion Debug */

/* #region Top */

#top {
    height: calc(100vh - 90px);
}

.side {
    flex-basis: 50px;
    background-color: var(--darker);
    flex-shrink: 0;
}

.only_logo,
.aside_header svg {
    width: 25px;
    aspect-ratio: 1/1;
}

.aside_footer svg {
    width: 20px;
    aspect-ratio: 1/1;
}

.aside_header a,
.aside_footer a {
    color: var(--light);
}

.logo_wrapper,
#sections li,
.playlists h3,
.playlists div,
.playlists li,
.aside_footer {
    padding: 10px;
}

.playlists>h3 {
    margin: 10px 0;
}

#user {
    gap: 0.5rem;
}

.complete_logo,
#sections span,
.playlists,
#user>.download>a>span,
#user>.profile>a>span,
#user>hr {
    display: none;
}

.profile a:last-of-type svg {
    width: 25px;
    aspect-ratio: 1 / 1;
    background-color: var(--light);
    border-radius: 50%;
}

#app_main {
    flex-grow: 1;
}

nav {
    flex-basis: 80px;
    background-color: var(--dark);
}

#content {
    flex-grow: 1;
    background-color: var(--dark-soft);
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar {
    flex-shrink: 0;
}

.navbar>ul>li {
    padding: 10px;
}

.img_wrapper {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.img_wrapper>img {
    transition: border-radius 0.5s, transform 0.5s;
}

.overbtn{
    position: absolute;
    top: 40%;
    right: 38%;
    color: var(--lighter);
    display: none;
}

/* #endregion Top */


/* #region Footer */

#app_footer {
    height: 90px;
    background-color: var(--light-dark);
}

.footer_left,
.footer_center,
.footer_right {
    width: calc(100% / 3);
}

.footer_left {
    padding-left: 8px;
    gap: 0.5rem;
}

.footer_center {
    padding: 0 5px;
    gap: 0.5rem;
}

.footer_right {
    padding-right: 8px;
    gap: 0.5rem;
}

.current_info {
    gap: 0.5rem;
}

.current_song {
    transition: width 0.5s;
    width: 2rem;
    aspect-ratio: 1/1;
}

.play_buttons {
    gap: 10px;
}

.play_timebar {
    width: 100%;
}

.time,
.volume {
    flex-grow: 1;
    margin: 0 10px;
    background-color: var(--light);
    border-radius: 50px;
    height: 5px;
}

.current_time {
    background-color: var(--lighter);
    width: 15%;
    border-radius: 50px;
    height: 5px;
}

.volumebar {
    width: 60%;
}

.current_volume {
    background-color: var(--lighter);
    width: 85%;
    border-radius: 50px;
    height: 5px;
}


/* #endregion Footer */

/* #region Effects */

.img_wrapper>img:hover + .overbtn{
    display: block;
}

.img_wrapper>img:hover {
    border-radius: 50%;
    transform: scale(0.9);
    opacity: 0.3;
}

.complete_logo:hover,
.img_wrapper,
.info>h3,
.info>h4,
.current_song img {
    cursor: pointer;
}

#sections li:hover {
    box-shadow: inset 4px 0 0 0 var(--limegreen);
    transition: box-shadow 1s;
}

.navbar>ul>li:hover {
    box-shadow: inset 0 -4px 0 0 var(--limegreen);
    transition: box-shadow 1s;
}

#sections li:hover a,
.playlists a:hover,
.hovered:hover {
    color: var(--limegreen);
    transition: color 1s;
}

.btn_new:hover {
    background-color: var(--lighter);
    transition: background-color 1s;
}

#sections li:hover svg path {
    fill: var(--limegreen);
    transition: fill 1s;
}

.btn_update{
    transform-origin: right;
    transition: color 1s, border-color 1s, transform 1s;
}

.btn_update:hover {
    color: var(--limegreen);
    border-color: var(--limegreen);
    transform: scale(1.1);
    transform-origin: right;
}

.info_text a:hover,
.info_icon i:hover,
.play_buttons i:hover,
.footer_right i:hover {
    color: var(--limegreen);
    transition: color 1s;
    cursor: pointer;
}

.current_time:hover,
.current_volume:hover {
    background-color: var(--limegreen);
    transform: background-color 1s;
    cursor: pointer;
}

#scale{
    transition: transform 0.5s;
}

#scale:hover{
    transform: scale(2);
}

.container_pl::-webkit-scrollbar {
    width: 10px;
}

.container_pl::-webkit-scrollbar-thumb {
    background-color: var(--darker);
    border-radius: 50px;
}

.container_pl::-webkit-scrollbar-thumb:hover {
    background-color: var(--limegreen);
}

.container_pl::-webkit-scrollbar-track {
    background-color: var(--darker);
    border-radius: 10px;
}

#content::-webkit-scrollbar {
    width: 10px;
}

#content::-webkit-scrollbar-thumb {
    background-color: var(--dark-soft);
    border-radius: 20px;
}

#content::-webkit-scrollbar-thumb:hover {
    background-color: var(--limegreen);
}

#content::-webkit-scrollbar-track {
    background-color: var(--dark-soft);
    border-radius: 10px;
}

/* #endregion Effects */

/* #region Responsive */

@media screen and (min-width: 480px) {

    .side {
        flex-basis: 200px;
    }

    .aside_header svg,
    .aside_footer svg {
        margin-right: 10px;
    }

    .logo_wrapper {
        display: flex;
        align-items: center;
        height: 80px;
        width: 75%;
    }

    .only_logo {
        display: none;
    }

    .btn_new {
        width: 30px;
        aspect-ratio: 1/1;
        text-align: center;
        font-size: 2.5rem;
        color: var(--dark);
        background-color: var(--light);
        line-height: 30px;
        margin-right: 10px;
    }

    .container_pl {
        overflow-y: auto;
        height: calc(100vh - 500px);
    }

    #user span {
        display: inline-block;
    }

    .complete_logo,
    #sections span,
    .playlists,
    #user>.download>a>span,
    #user>.profile>a>span,
    #user>hr {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .col_md_3 {
        width: calc(100% / 12 * 3);
    }
}

@media screen and (min-width: 1160px) {
    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }
}

/* #endregion Responsive */